nav {
    background-color: lightslategray;
    width: 100%;
}

.nav-title {
    align-items: center;
}

footer {
    bottom: 0;
    width: 100%;  
    position: absolute;     
}

.page-footer {
    background-color: lightslategray;
    width: 100%;

}

/* .destination-container {
    float: right;
    width: 70%;
}

.movie-destination {
    padding: 20px;
    margin: 20px;
} */

/* .row.col.card {
    float: right;
} */


/* .destination-container {
    float: right;
} */

.movie-card {
    float: left;
}